/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

#product-wrapper {
  padding-top: 10px;
  display: flex;
  margin: 0px 10px;
}

#filter-wrapper {
  width: 300px;
  margin-right: 10px;
}
.grid-wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 2rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.grid-wrapper > div:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 2rem;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.item-info {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 40px;
  z-index: 1000;
  transform: translateY(100%);
  font-weight: bold;
}

.item-info > p {
  margin: 0px 10px auto 5px;
}
.item-info > span {
  margin: 0px 10px auto 0px;
}
.grid-wrapper > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1px;
}

.grid-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  width: calc(100% - 300px);
  margin-left: 5px;
}
.grid-wrapper .wide {
  grid-column: span 2;
}
.grid-wrapper .tall {
  grid-row: span 2;
}
.grid-wrapper .big {
  grid-column: span 2;
  grid-row: span 2;
}

#filters {
  position: relative;
  width: 300px;
}

.filter-cat {
  margin: 5px 0px;
  padding: 5px;
  border: solid 1px grey;
  height: 40px;
  max-height: 500px;
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.filter-cat > p {
  color: grey;
  margin: 2px 2px 2px 20px;
}

.filter-cat.active-filter {
  height: auto;
  transition: all 0.3s ease-out;
  max-height: 500px;
}

.filter-title {
  margin-left: 5px;
  display: flex;
  transition: all 0.3s ease-out;
}

.filter-title > p {
  width: 90%;
  font-weight: bold;
}

@media screen and (max-width: 747px) {
  #product-wrapper {
    flex-direction: column;
  }

  #filter-wrapper {
    width: 100%;
    margin-top:50px
  }

  .grid-wrapper {
    width: 100%;
    margin-left: 0px;
  }

  #filters {
    position: relative;
    width: 270px;
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}
