#page-container {
  max-width: 1280px;
  margin: auto;
}

/* @media screen and (min-width: 1000px) {
  #page-container > * {
    height: 100vh;
  }
} */

#page-container > * {
  margin-top: 50px !important;
}

.row {
  margin: 0 !important;
}

.row > * {
  padding: 0 !important;
}

.imgCenter {
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 480px) {
  .imgCenter.imgResponsive {
    transform: rotate(90deg);
    margin: 0px auto -100px auto;
    height: 410px !important;
  }

  #page-container > * {
    margin-top: 20px !important;
  }
}

#accueilFirstEl {
  display: flex;
  gap: 15px;
  margin: auto;
}

#accueilFirstEl > div {
  align-self: center;
  margin: auto;
  max-width: 400px;
}

#accueilFirstEl h2 {
  text-align: center;
}

.contactBtn {
  width: 208px;
  height: 53px;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #1d5f6b;
  color: #1d5f6b;
  font-weight: 600;
}

.contactBtn:hover {
  background: #1d5f6b;
  border: 1px solid #ffffff;
  color: #ffffff;
  transition: 0.3s;
}
/* TABS */
.made-with {
  background: #ec5052;
  display: block;
  line-height: 1em;
  margin: 0;
  padding: 5px 110px;
  position: fixed;
  top: 20px;
  right: -100px;
  text-align: center;
  text-decoration: none;
  transform: rotate(45deg);
}
.documentation {
  color: #ec5052;
}
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden;
  width: 80% !important;
  margin: auto;
}
.tabs [class^="tab"] label,
.tabs [class*=" tab"] label {
  cursor: pointer;
  display: block;
  line-height: 1em;
  padding: 2rem 0;
  text-align: center;
}
.tabs [class^="tab"] [type="radio"],
.tabs [class*=" tab"] [type="radio"] {
  border-bottom: 1px solid rgba(239, 237, 239, 0.5);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.tabs [class^="tab"] [type="radio"]:hover,
.tabs [class^="tab"] [type="radio"]:focus,
.tabs [class*=" tab"] [type="radio"]:hover,
.tabs [class*=" tab"] [type="radio"]:focus {
  border-bottom: 1px solid #ec5052;
}
.tabs [class^="tab"] [type="radio"]:checked,
.tabs [class*=" tab"] [type="radio"]:checked {
  border-bottom: 2px solid #ec5052;
}
.tabs [class^="tab"] [type="radio"]:checked + div,
.tabs [class*=" tab"] [type="radio"]:checked + div {
  opacity: 1;
}
.tabs [class^="tab"] [type="radio"] + div,
.tabs [class*=" tab"] [type="radio"] + div {
  display: block;
  opacity: 0;
  padding: 2rem 0;
  width: 90%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.tabs .tab-2 {
  width: 33.3%;
}
.tabs .tab-2 [type="radio"] + div {
  width: 300%;
  margin-left: 300%;
}
.tabs .tab-2 [type="radio"]:checked + div {
  margin-left: 0;
}

.tabs .tab-2:nth-child(2) [type="radio"] + div {
  margin-left: 100%;
}

.tabs .tab-2:nth-child(2) [type="radio"]:checked + div {
  margin-left: -100%;
}

.tabs .tab-2:last-child [type="radio"] + div {
  margin-left: 300%;
}

.tabs .tab-2:last-child [type="radio"]:checked + div {
  margin-left: -200%;
}

/* CAROUSSEL ICONIC */
.container-iconic {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

@media screen and (max-width: 480px) {
  .container-iconic,
  .collec-container {
    flex-direction: column !important;
    gap: 30px !important;
  }
}

.product-card {
  height: 380px;
  width: 240px;
}

.img-product-card {
  width: 240px;
  height: 240px;
  background-color: black;
}

.txt-product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  z-index: 2;
}

/* .btn-product-card {
  width: 180px;
  height: 40px;
  margin: auto;
  background-color: #3e3943;
  color: #ffffff;
  border: solid 1px #ffffff;
}

.btn-product-card:hover {
  background-color: #ffffff;
  color: #3e3943;
  border: solid 1px #3e3943;
  transition: 0.3s;
} */

.collec-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
  color: white;
}

.collec-container img {
  width: 420px;
  height: 600px;
  object-fit: cover;
}
.collec-container img:hover {
  filter: brightness(0.7);
  transition: 0.3s;
  cursor: pointer;
}

.collec-container h3 {
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.collec-container div {
  position: relative;
  width: 33%;
  height: 600px;
}

@media screen and (max-width: 480px) {
  .collec-container div {
    width: 100%;
  }

  .insta-img,
  .container-insta {
    flex-direction: column !important;
  }
}

.insta-img {
  display: flex;
  flex-direction: row;
  width: 75% !important;
  justify-content: center;
  gap: 30px;
  align-self: center;
}

.container-insta {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
