body {
  margin: 0px;
  padding: 0px;
  font-family: "Urbanist", sans-serif !important;
}

#page-container {
  max-width: 1280px;
  margin: auto;
  padding: 124px 50px;
}

h1.white-title,
h2.white-title,
h3.white-title {
  color: #ffffff !important;
}

h2 {
  margin-bottom: 30px !important;
}

/* @media screen and (min-width: 1000px) {
  #page-container > * {
    height: 100vh;
  }
} */

/* #page-container > * {
  margin-top: 0px !important;
} */

.row {
  margin: 0 !important;
}

.row > * {
  padding: 0 !important;
}

.imgCenter {
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 480px) {
  .imgCenter.imgResponsive {
    transform: rotate(90deg);
    margin: 0px auto -100px auto;
    height: 380px !important;
  }

  #page-container > * {
    margin-top: 20px !important;
  }
}

#accueilFirstEl {
  display: flex;
  gap: 15px;
  margin: auto;
}

#accueilFirstEl > div {
  align-self: center;
  margin: auto;
  max-width: 400px;
}

#accueilFirstEl h2 {
  text-align: center;
}

.boutiqueBtn {
  width: 208px;
  height: 53px;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #1d5f6b;
  color: #1d5f6b;
  font-weight: 600;
}

.boutiqueBtn:hover {
  color: #f7645d;
  border-color: #f7645d;
  transition: 0.3s;
}

.blog-hr {
  max-width: 200px;
  border: 1px solid #f7645d;
  margin: auto;
  opacity: 1;
}

.blog-btn {
  padding: 5px 10px;
  border: 1px solid;
  background: none;
  max-width: 200px;
  height: 50px;
  align-self: flex-start;
}

.blog-btn:hover {
  color: #f7645d;
  border-color: #f7645d;
  transition: 0.3s;
}

.img-blog {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.img-blog-article {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  object-position: center;
}

.img-blog-article-bigger {
  width: 95%;
  max-height: 515px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 15px !important;
}

.article-arrow:hover {
  font-size: 50px;
  margin-top: -5px;
}

.article-arrow {
  font-size: 45px;
  color: #f7645d;
  transition: 0.3s;
  cursor: pointer;
}

/* CAROUSSEL ICONIC */
.container-iconic {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

@media screen and (max-width: 480px) {
  .container-iconic,
  .collec-container,
  .cat-container {
    flex-direction: column !important;
    gap: 30px !important;
  }
}

.product-card {
  height: 380px;
  width: 240px;
}

.img-product-card {
  width: 220px;
  height: 220px;
  background-color: black;
}

.txt-product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  z-index: 2;
}

/* .btn-product-card {
  width: 180px;
  height: 40px;
  margin: auto;
  background-color: #3e3943;
  color: #ffffff;
  border: solid 1px #ffffff;
}

.btn-product-card:hover {
  background-color: #ffffff;
  color: #3e3943;
  border: solid 1px #3e3943;
  transition: 0.3s;
} */

.collec-container,
.cat-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
  color: white;
}

.collec-container img,
.cat-container img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  position: absolute;
}

.collec-container img:hover,
.cat-container img:hover {
  filter: brightness(0.7);
  transition: 0.3s;
  cursor: pointer;
}

.collec-container h3 {
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.cat-container h3 {
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.collec-container div,
.cat-container div {
  position: relative;
  width: 33%;
  height: 600px;
}

.collec-container div{
  cursor: pointer;
}

.collec-btn {
  max-width: 250px;
  height: 50px;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #1d5f6b;
  color: #1d5f6b;
  font-weight: 600;
}

.collec-btn:hover {
  color: #f7645d;
  border-color: #f7645d;
  transition: 0.3s;
}

@media screen and (max-width: 480px) {
  .collec-container div,
  .cat-container div {
    width: 100%;
  }

  .insta-img,
  .container-insta {
    flex-direction: column !important;
  }
}

.insta-img {
  display: flex;
  flex-direction: row;
  width: 75% !important;
  justify-content: center;
  gap: 30px;
  align-self: center;
}

.container-insta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.insta-img > img {
  width: 25%;
  margin: auto;
}

.container-collec {
  display: flex !important;
  margin-top: 100px !important;
  max-height: 500px !important;
}

.collec-hr {
  background-color: #f7645d;
  width: 200px !important;
  height: 3px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.container-text-collec {
  display: flex;
  flex-direction: column;
  padding: 10% !important;
  align-self: center;
  background-color: #f4f4f4;
  height: 100%;
}
.header-img {
  width: 100%;
  height: 80vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  position: relative;
  margin: auto;
}

.header-txt {
  position: absolute;
  max-width: 500px;
  backdrop-filter: blur(30px) grayscale(0.5) opacity(0.7);
  top: 40%;
  left: 10%;
  padding: 30px;
  text-align: center;
  /* background-color: white; */
}

@media screen and (max-width: 747px) {
  .header-txt {
  top: 8%;
  }

}

.img-collection-header {
  object-fit: cover;
  object-position: center;
  margin-bottom: 50px !important;
  height: 400px;
}

.cat_impertinente div,
.cat_impertinente p,
.cat_impertinente img {
  text-align: center;
  margin: auto;
  font-weight: 600;
}

.cat_impertinente > .row {
  margin-bottom: 20px !important;
}

.section-content {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.picture_collec > *,
.picture_collec img {
  max-width: 100vw;
  margin: auto;
}

.devis-btn {
  margin: 15px auto;
  padding: 0 10px;
  background: none;
  height: 50px;
  color: #3e3943;
}

.devis-btn:hover {
  color: #f7645d;
  border-color: #f7645d;
  transition: 0.3s;
}
.contact-form input {
  width: 95%;
}

.contact-form textarea,
.contact-form#subject {
  width: 100%;
  height: 200px;
}

.contact-form #pictures-to-add {
  width: 100%;
  height: 200px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
}

.sbm-btn-contact {
  margin-left: auto;
  width: 120px !important;
  height: 40px;
  background: none;
  border: solid 1px #3e3943;
  color: #3e3943;
  transition: 0.3s;
}

.sbm-btn-contact:hover {
  color: #f7645d;
  border-color: #f7645d;
}

.contact-form #pictures-to-add > p {
  text-align: center;
  width: 80%;
  margin: auto;
  align-self: center;
}

.div-input-contact,
#pictures-to-add {
  margin-bottom: 15px;
}

.contact-form input,
.contact-form textarea {
  background-color: #f4f4f4;
  border: none;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}

.contact-form {
  width: 100%;
}

.checkbox-contactPage > div {
  display: inline-flex;
  gap: 10px;
}

#contact,
#devis {
  transition: 0.3s;
}

.checkbox-contactPage label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  width: 28px;
}

.checkbox-contactPage label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  width: 28px;
}

.checkbox-contactPage input[type="checkbox"] {
  visibility: hidden;
}

.checkbox-contactPage input[type="checkbox"]:checked + label {
  background-color: #f7645d;
  border-color: #f7645d;
}

.checkbox-contactPage input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.click > div > :is(div, div p){
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  #contact,
  #devis {
    padding: 0 50px !important;
  }
  .img-blog-article-bigger {
    width: 100% !important;
  }

  #page-container {
    padding: 0 !important;
  }
}
